<div class="statusbar container animated fadeInDown">
  <p>Credits</p>
</div>
<div class="content container animated fadeInDown">
  <div class="credits-content row">
    <div class="col-md-1">
      <div class="col-element">
        <i class="fas fa-window-maximize"></i>
        <span>Page built with <a href="https://angular.io/" target="_blank">Angular</a></span>
      </div>
      <div class="col-element">
          <i class="fab fa-github"></i>
          <span><a href="https://github.com/AlbertMillan/Portfolio_Millana" target="_blank">Source Code</a></span>
      </div>
    </div>
    <div class="col-md-1">
      <div class="col-element">
        <i class="fab fa-paypal"></i>
        <span><a href="https://angular.io/" target="_blank">Paypal Me</a></span>
      </div>
    </div>
    <div class="col-md-1">
      <div class="col-element">
        <span>📷 Photo by Karen</span>
      </div>
    </div>
  </div>
</div>