<div class="statusbar container animated fadeInDown" id="about">
  <p>About Albert</p>
</div>
<div class="content container animated fadeInDown" id="about">
  <div class="about-content row">
    <div class="col-md-1">
      <img id="profile-image" src="/assets/img/pr.jpg">
    </div>
    <div class="col-md-2">
      <h2>Hi there, I'm Albert!</h2>
      <p>
        Final Year Computer Science & Business Student,
        Trinity College Dublin. Full Stack Software 
        Engineer. Tech Savvy. Food Lover.
      </p>
      <hr>
      <p>
        I have a passion to develop solutions for those
        that are most in need. Whether it's a CMS powered 
        blog, a webapp, or a simple chat bot, I take
        pride in helping clients spend less time on 
        logistics and more time doing the things they
        love.
      </p>
      <p>
        Need my help? Check out my portfolio below and give
        me a shout!
      </p>
    </div>
  </div>
</div>
