#video-container
    z-index 100
    position: absolute
    background: red
    height: 200px
    width: 100px
    transition: height 300ms, width 300ms;
    &.is-active
        height 300px
        width: 600px