.horizontal-info
    display: flex
    align-items: center
    color: #f0ecf2
    height: 100%
    li
        display: inline-block
        padding-right: 1.0em
    ul
        margin: 0 auto

i
    margin-right: 10px

a
    color: #f0ecf2
    transition color .3s
    background-color: transparent
    text-decoration: none 
    touch-action: manipulation
    cursor: pointer
    font-size: 13px
    font-weight: 500;
    &:hover
        color: #6c3b7b


.pull-left
    float: left!important

.pull-right
    float: right!important