.horizontal-info
    display: flex
    align-items: center
    color: #f0ecf2
    height: 100%
    li
        display: inline-block
        padding-right: 1.0em
    ul
        margin: 0 auto


.pull-left
    float: left!important

.pull-right
    float: right!important