<div class="statusbar container animated fadeInDown">
  <p>Portfolio</p>
</div>

<div class="content container animated fadeInDown">
  <div class="header-container">
    <h2>Portfolio</h2>
    <p>My most recent front end work and current side projects. <b>Click to see live examples.</b></p>
    <hr>
  </div>
  <app-video></app-video>
  <div class="portfolio-content row">
    <div class="col-md-3 row">
      <div class="col-md-1 dragon-video">
        <img class="profile-image" id="" src="/assets/img/pr.jpg">
        <div class="text-container">
          <span>Hello World!</span>
        </div>
      </div>
      <div class="col-md-2">
        <p>
          Platform that enables students to share language 
          learning strategies/experiences with peers. 
          Core functions include user authentication, 
          chat, forum and calendar system. Deployed
          using Tencent Cloud.
        </p>
        <p>
          <a>
            Source code
          </a>
        </p>
        <p>
          Built with:
        </p>
        <small>
          Ionic &nbsp;
          Angular 4 &nbsp;
          PHP
        </small>
      </div>
    </div>

    <div class="col-md-3 row">
      <div class="col-md-1 dragon-video" (click)="onClickMe()">
        <img class="profile-image" src="/assets/img/pr.jpg">
        <div class="text-container">
          <span>Hello World!</span>
        </div>
      </div>
      <div class="col-md-2">
        <p>
          Platform that enables students to share language 
          learning strategies/experiences with peers. 
          Core functions include user authentication, 
          chat, forum and calendar system. Deployed
          using Tencent Cloud.
        </p>
        <p>
          <a>
            Source code
          </a>
        </p>
        <p>
          Built with:
        </p>
        <small>
          Ionic &nbsp;
          Angular 4 &nbsp;
          PHP
        </small>
      </div>
    </div>
  </div>


  <div class="portfolio-content row">
      <div class="col-md-3 row">
        <div class="col-md-1 dragon-video" (click)="onClickMe()">
          <img class="profile-image" src="/assets/img/pr.jpg">
          <div class="text-container">
            <span>Hello World!</span>
          </div>
        </div>
        <div class="col-md-2">
          <p>
            Platform that enables students to share language 
            learning strategies/experiences with peers. 
            Core functions include user authentication, 
            chat, forum and calendar system. Deployed
            using Tencent Cloud.
          </p>
          <p>
            <a>
              Source code
            </a>
          </p>
          <p>
            Built with:
          </p>
          <small>
            Ionic &nbsp;
            Angular 4 &nbsp;
            PHP
          </small>
        </div>
      </div>
  
      <div class="col-md-3 row">
        <div class="col-md-1">
          <img class="profile-image" src="/assets/img/pr.jpg">
          <div class="text-container">
            <span>Hello World!</span>
          </div>
        </div>
        <div class="col-md-2">
          <p>
            Platform that enables students to share language 
            learning strategies/experiences with peers. 
            Core functions include user authentication, 
            chat, forum and calendar system. Deployed
            using Tencent Cloud.
          </p>
          <p>
            <a>
              Source code
            </a>
          </p>
          <p>
            Built with:
          </p>
          <small>
            Ionic &nbsp;
            Angular 4 &nbsp;
            PHP
          </small>
        </div>
      </div>
    </div>
</div>
