.content
    margin: 0 auto
    overflow hidden
    background: hsla(0,0%,5%,.75);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-radius: 0 0 5px 5px
    //height: 4em

.container
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    //text-align: center
    height: 100%
    @media (min-width: 576px)
        max-width: 540px
    @media (min-width: 770px)
        width: 750px
        max-width: 720px
    @media (min-width: 992px)
        width: 970px
        max-width: 960px
    @media (min-width: 1200px)
        width: 1170px
        max-width: 1140px

#body
    @extend .content
    display block
    position relative
    min-height 100%
    height: 5em
    height: 100%
    font-family: Inconsolata,monospace;
    -webkit-font-smoothing: antialiased;
    