<!--The content below is only a placeholder and can be replaced.-->
<navigation></navigation>
<div id="body">
  <div class="content container animated fadeInDown" style="margin-top: 2em; height: 2em">
    <app-contact></app-contact>
  </div>
  <br>
  <app-about></app-about>
  <br>
  <app-portfolio></app-portfolio>
  <br>
  <app-resume></app-resume>
  <br>
  <app-credits></app-credits>
  <footer>
    <div class="container animated fadeInDown">
      <app-contact></app-contact>
    </div>
</footer>

</div>

<router-outlet></router-outlet>
